@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(97, 57, 39);
    background-color: rgb(255, 237, 215);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 200px 27px 200px;
    width: 100%;
}

.logo {
    font-size: 40px;
    font-family: 'Lobster', cursive;
    color: rgb(206, 58, 0);
}

.nav-menu {
    display: flex;
    gap: 50px;
    font-weight: 600;
    align-items: center;
}

.nav-home {
    background-color: rgb(206, 58, 0);
    color: rgb(255, 237, 215);
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
}

.nav-home:hover {
    background-color: rgb(219, 95, 45);
}

.nav-item:hover {
    color: rgb(206, 58, 0);
}

.navigation i {
    cursor: pointer;
    color: rgb(206, 58, 0);
    font-size: 20px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 200px;
    padding-right: 100px;
}

.home-texts {
    width: 10000px;
}

.text-h4 {
    color: rgb(206, 58, 0);
    font-size: 20px;
    font-weight: 700;
}

.text-h1 {
    font-size: 54px;
}

p {
    font-size: 22px;
    font-weight: 500;
}

.promotion-text {
    padding-top: 40px;
    font-size: 16px;
}
.home-form {
    margin-top: 14px;
}

form input {
    background-color: rgb(255, 243, 229);
    border-radius: 8px;
    font-weight:600;
    font-size: 16px;
    padding: 8px;
    margin-right: 8px;
    border-color: rgb(97, 57, 39);
}

input:focus {
    outline-color: rgb(206, 58, 0);
}

form button {
    background-color: rgb(206, 58, 0);
    padding: 9px 20px;
    color: rgb(255, 243, 229);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(219, 95, 45);
}

.home-socials {
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

.home-socials i {
    cursor: pointer;
    font-size: 24px;
    color: rgb(97, 57, 39);
}

.home-socials i:hover {
    color: rgb(206, 58, 0)
}

.img-home {
    max-width: 1000px;
}