* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
    background-color: rgb(29, 29, 29);
    padding: 20px 50px;
    border-radius: 10px;
    border: 2px solid rgb(53, 53, 53);
}

h1 {
    color: aliceblue;
    margin: 20px 0 40px 0;
    font-size: 40px;
}

label {
    color: white;
    font-size: 18px;
}

input {
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(53, 53, 53);
}

input:focus {
    border: 2px solid rgb(20, 180, 20);
}

button {
    background-color: rgb(20, 180, 20);
    border: none;
    padding: 10px;
    margin: 20px 0 20px 0;
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(21, 151, 21);
    transition: 0.3s;
}

  